<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.white.examsystem.dao.UserDao">
    <resultMap id="BaseResultMap" type="com.white.examsystem.model.User">
        <id column="user_id" property="userId" jdbcType="BIGINT"/>
        <result column="user_name" property="userName"  jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result  column="isDelete" property="isDelete" jdbcType="BIT"/>
    </resultMap>

    <insert id="addUser">
        INSERT INTO USER (user_name, PASSWORD)
        VALUES
            (#{user_name}, #{password});
    </insert>


    <update id="updatePassword">
        UPDATE USER
        SET password = #{password}
        WHERE
            user_id =#{userId}
        AND isDelete = 0;
    </update>

    <update id="updateUserName">
        UPDATE USER
        SET user_name = #{userName}
        WHERE
            user_id =#{userId}
          AND isDelete = 0;
    </update>

    <update id="deleteUserById">
        UPDATE USER
        SET isDelete = 1
        WHERE
            user_id = #{userId}
        AND isDelete = 0;
    </update>

    <update id="deleteUserByIds">
        UPDATE USER
        SET isDelete = 1
        WHERE
        user_id = #{userId}
        AND isDelete = 0
        IN
        <foreach collection="ids" item="id" open="(" close=")" separator=",">#{userId}</foreach>
    </update>


    <select id="getUserAll" resultType="com.white.examsystem.model.User">
        SELECT
            *
        FROM
            USER
        WHERE
            isDelete = 0;
    </select>

    <select id="getUserById" resultType="com.white.examsystem.model.User">
        SELECT
            *
        FROM
            USER
        WHERE
            isDelete = 0
          AND user_id = #{userId};
    </select>

    <select id="getUserListByKey" resultType="com.white.examsystem.model.User">
        SELECT
            *
        FROM
            USER
        WHERE
            isDelete = 0
          AND user_name LIKE concat('%', #{key}, '%');

    </select>

    <select id="existsUserName" resultType="java.lang.Integer">
        SELECT
            EXISTS (
                    SELECT
                        user_id
                    FROM
                        USER
                    WHERE
                        user_name = #{userName}
                )
    </select>
</mapper>